p {
	font-size: 2em;
	margin: .5em 0 .25em;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	padding: 0;
	margin: 0;
}

input, .pseudoInput {
	min-height: 5vmin;
	padding: 1vmin;
	margin: 0.1em;
	border-radius: 3px;
	font-size: 1em;
}

input[type="submit"], .pseudoInput {
	border-radius: 3px;
}

.pseudoInput {
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px gray;
	color: black;
	margin: 0;
}

.setContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.word {
	width: 15vw;
}

.define {
	width: 45vw;
}

.deleteButton {
	display: none;
	width: 10vw;
}

.setContainer:hover .deleteButton {
	display: block;
}

.set:first-child.set .word {
	border-top-left-radius: 8px;
}

.set:last-of-type .word {
	border-bottom-left-radius: 8px;
}

.set:first-child .define {
	border-top-right-radius: 8px;
}

.set:last-of-type .define {
	border-bottom-right-radius: 8px;
}

#controlButtons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
